.ac-featured {
  height: 25rem;
}

.ac-img {
  object-fit: cover;
  height: 50rem;
  width: 100%;
  display: block;
  width: 100%;
}
.ac-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
