<div class="ac-container ac-padding-top-md">
  <carousel>
    <slide>
      <img src="assets/images/hero1.jpg" alt="first slide" class="ac-img" />
    </slide>
    <slide>
      <img src="assets/images/hero2.jpg" alt="second slide" class="ac-img" />
    </slide>
    <slide>
      <img src="assets/images/hero3.jpg" alt="third slide" class="ac-img" />
    </slide>
  </carousel>
  <section class="ac-featured ac-margin-top-md">
    <div class="ac-welcome">Welcome to the shop!</div>
  </section>
</div>
