<div class="ac-ordersummary-header">Order Summary</div>
<div class="ac-ordersummary-container">
  <div class="ac-ordersummary-label ac-margin-top-md">Order subtotal</div>
  <div class="ac-ordersummary-data ac-margin-top-md">
    {{ subtotal | currency }}
  </div>
  <div class="ac-ordersummary-label">Shipping and handling</div>
  <div class="ac-ordersummary-data">
    {{ shipping | currency }}
  </div>
  <div class="ac-ordersummary-label ac-bold ac-margin-top-sm">Total</div>
  <div class="ac-ordersummary-data ac-bold ac-margin-top-sm">
    {{ total | currency }}
  </div>
</div>
