<div class="container grid main-grid">
  <div>
    <div class="main-filter">
      <label class="filter-label first block" for="select-where">Sort</label>
      <select
        id="select-where"
        name="select-where"
        (change)="onSortSelected($event)"
      >
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>
    </div>

    <div class="main-filter">
      <label class="filter-label block">Brands</label>
      <ul class="filter-label-item">
        <li
          *ngFor="let brand of productBrands"
          [class.filter-active]="brand.id === shopParams.brandId"
          [value]="brand.id"
          (click)="onBrandIdSelected(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
    </div>
    <div class="main-filter">
      <label class="filter-label block">Type</label>
      <ul class="filter-label-item">
        <li
          *ngFor="let pType of productTypes"
          [class.filter-active]="pType.id === shopParams.typeId"
          [value]="pType.id"
          (click)="onTypeIdSelected(pType.id)"
        >
          {{ pType.name }}
        </li>
      </ul>
    </div>
  </div>

  <div class="main-product">
    <div>
      <form class="search-form" name="sign-up" action="#">
        <app-paging-header
          [totalCount]="totalCount"
          [pageNumber]="shopParams.pageNumber"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>
        <input
          id="search"
          type="text"
          placeholder="Search product"
          name="search"
        />
        <button class="c-btn">Search</button>
      </form>
    </div>
    <div class="products">
      <div class="c-card" *ngFor="let item of products">
        <app-product-item [product]="item"></app-product-item>
      </div>
    </div>
    <div>
      <app-pager
        [totalCount]="this.totalCount"
        [pageSize]="shopParams.pageSize"
        (pageChanged)="onPageChanged($event)"
      ></app-pager>
    </div>
  </div>
</div>
