.ac-stepper-main-div {
  display: flex;
  width: 86.5rem;
  height: 5rem;
  align-items: center;
  background-color: #edf2ff;
}
.ac-stepper-div {
  align-self: stretch;
  justify-self: stretch;
  padding-left: 1.6rem;
  width: 25%;
  height: inherit;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem;
}

.ac-selected {
  background-color: #cf711f;
  color: #fff;
}
