<div class="d-flex justify-content-center ac-padding-top-md">
  <div class="col-4 ac-register-container">
    <form
      class="ac-register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <h1 class="ac-register-form-header">Register</h1>

      <div class="ac-register-form-container-template">
        <app-text-input
          formControlName="displayName"
          [label]="'Display Name'"
        ></app-text-input>
        <app-text-input
          formControlName="email"
          [label]="'Email address'"
        ></app-text-input>

        <app-text-input
          formControlName="password"
          [label]="'Password'"
          [type]="'password'"
        ></app-text-input>

        <ul class="text-danger list-unstyled" *ngIf="errors">
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>

        <button
          [ngClass]="
            registerForm.invalid
              ? 'ac-btn ac-btn-gridrow-fullspace ac-disabled'
              : 'ac-btn ac-btn-gridrow-fullspace'
          "
          [disabled]="registerForm.invalid"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
