.ac-register-container {
  //   background-color: #faf1e9;
  background-color: #edf2ff;
  padding: 2.6rem 3.2rem 3.2rem 3.2rem;
  border-radius: 5px;
}
.ac-register-form-header {
  margin-bottom: 1.8rem;
}
.ac-register-form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1.2rem;
  justify-content: left;
  align-items: center;
}
.ac-register-form-container-template {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.2rem;
}

.ac-register-form input {
  height: 3.4rem;
  border-radius: 5px;
  border: none;
}
.ac-register-form input:focus {
  outline: none;
  border: solid 1px #cf711f;
}
.ac-register-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
}
.ac-btn-gridrow-fullspace {
  grid-row: 4/5;
  grid-column: 1/-1;
  margin-top: 1.6rem;
}
.ac-disabled {
  background-color: #d3d3d3;
  color: #333;
  cursor: auto;
}
