<div
  class="ac-container ac-basket-grid ac-padding-top-md"
  *ngIf="basket$ | async"
>
  <div *ngIf="(basket$ | async) === null">No Orders found.</div>
  <div *ngIf="basket$ | async as basketItem">
    <app-basket-summary
      [itemList]="basketItem.items"
      (increament)="incrementItemQuantity($event)"
      (decreament)="decrementItemQuantity($event)"
      (remove)="removeBasketItem($event)"
    ></app-basket-summary>
  </div>
</div>
<div *ngIf="basket$ | async">
  <div class="ac-container ac-total-grid ac-padding-top-md">
    <div class="ac-total-contaier" *ngIf="basketTotal$ | async as total">
      <div class="ac-total-inner-container">
        <app-order-totals
          [subtotal]="total.subtotal"
          [shipping]="total.shipping"
          [total]="total.total"
        ></app-order-totals>
      </div>
    </div>
  </div>
  <div class="ac-checkout-btn-main-container">
    <div class="ac-checkout-btn-container">
      <div class="ac-checkout-btn-inner-container">
        <a href="" routerLink="/checkout" class="ac-lnk-btn-checkout"
          >Proceed to checkout</a
        >
      </div>
    </div>
  </div>
</div>
