.ac-total-grid {
  display: grid;
  justify-content: center;
  padding-bottom: 3.2rem;
  // grid-template-columns: 1fr 1fr;
}

.ac-total-contaier {
  display: flex;
  width: 100rem;
  justify-content: flex-end;
}
.ac-total-inner-container {
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: 1fr;

  width: 50%;

  // gap: 1.2rem;
}
.ac-basket-grid {
  display: grid;
  justify-content: center;
}

.ac-checkout-btn-main-container {
  display: grid;
  justify-content: center;
  padding-bottom: 3.2rem;
}
.ac-checkout-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100rem;
}
.ac-checkout-btn-inner-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.ac-lnk-btn-checkout:link,
.ac-lnk-btn-checkout:visited {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 5px;
  color: #cf711f;
  background-color: #fff;
  border: 2px solid #cf711f;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
}
.ac-lnk-btn-checkout:hover,
.ac-lnk-btn-checkout:active {
  background-color: #cf711f;
  color: #fff;
}
.ac-noorders-found {
  padding-top: 35vh;
  font-size: 2.4rem;
}
