<header class="header sticky">
  <a href="#">
    <img
      src="/assets/images/logo.png"
      class="logo"
      style="max-height: 70px"
      alt="logo"
    />
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#">Home</a></li>
      <li><a class="main-nav-link" href="#">Shop</a></li>
      <li><a class="main-nav-link" href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="nav-right">
    <a class="cart">
      <i class="fa fa-shopping-cart fa-4x cart-icon"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="nav-right nav-cta" href="#">Login</a>
    <a class="nav-right nav-cta" href="#">Sign up</a>
  </div>
</header>
