<div class="header-cotainer">
  <a href="#">
    <img src="/assets/images/logo.png" class="logo" alt="logo" routerLink="/" />
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li>
        <a
          class="main-nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a class="main-nav-link" routerLink="/shop" routerLinkActive="active"
          >Shop</a
        >
      </li>
      <li>
        <a
          class="main-nav-link"
          routerLink="/test-error"
          routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>
  </nav>
  <div class="nav-right">
    <a class="cart">
      <i class="fa fa-shopping-cart fa-2x cart-icon"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="nav-right nav-cta" href="#">Login</a>
    <a class="nav-right nav-cta" href="#">Sign up</a>
  </div>
</div>
