<ng-container *ngIf="breadcrumb$ | async as breadcrumbs">
  <section *ngIf="breadcrumbs && breadcrumbs.length > 0">
    <div class="ac-container ac-section-grid">
      <div *ngIf="breadcrumbs[breadcrumbs.length - 1]">
        <h1>{{ breadcrumbs[breadcrumbs.length - 1].label }}</h1>
      </div>
      <div *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'Home'">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb ac-breadcrumb">
            <li
              class="breadcrumb-item"
              *ngFor="let data of breadcrumbs; let i = index"
            >
              <ng-container *ngIf="!(i === breadcrumbs.length - 1)">
                <a routerLink="{{ data.url }}">{{ data.label }}</a>
              </ng-container>
              <ng-container *ngIf="i === breadcrumbs.length - 1">
                {{ data.label }}
              </ng-container>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
</ng-container>
