/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
}
/* **************************************** */
/* General reusable components  */
//  ac - angular client
//  this will help to maintain separate style class
//  and will not same as bootstrap
/* **************************************** */
.ac-container {
  max-width: 130rem;
  margin: 0 auto;
}
.ac-grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 3.2rem;
}
.ac-grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.ac-heading-primary,
.ac-heading-secondary,
.ac-heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}
.ac-heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.ac-subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.ac-heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.ac-heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.ac-btn:link,
.ac-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  /* color transition between current color and the hover  color 
         Transition is always put in the original 
      */
  transition: all 0.3s;
}

.ac-btn-outline:link,
.ac-btn-outline:visited {
  color: #555;
  background-color: #fff;
}

.ac-btn-outline:hover,
.ac-btn-outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff;  This wont work whole content jumps*/
  /* Trick to have border inside the button*/
  box-shadow: inset 0 0 0 3px #fff;
}
// *:focus {
//   outline: none;
//   /* outline: 4px dotted #e67e22; */
//   /* outline-offset: 8px; */
//   box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
// }
/* HELPER classes */
.ac-padding-top-md {
  padding-top: 2.4rem !important;
}
.ac-margin-top-sm {
  margin-top: 1.2rem !important;
}
.ac-margin-top-md {
  margin-top: 2.4rem !important;
}
.ac-margin-top-lg {
  margin-top: 7.2rem !important;
}
.ac-margin-right-sm {
  margin-right: 0.6rem !important;
}
.ac-margin-right-md {
  margin-right: 1rem !important;
}
.ac-margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.ac-center-text {
  text-align: center;
}
.ac-block {
  display: block;
}
strong {
  font-weight: 500;
}
.ac-bold {
  font-weight: 700;
}
.ac-font-size-sm {
  font-size: 1.8rem;
}
.ac-font-size-md {
  font-size: 2.4rem;
}
.ac-pd-item-amount {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  //   margin-top: 3rem;
}
.ac-pd-plus-minus {
  color: #cf711f;
  cursor: pointer;
}

// ******************************************************************************
//  Specific component style section
// ******************************************************************************
// **** Body Section ****//
.ac-main-grid {
  grid-template-columns: 1fr 4fr;
  // background-color: #cf711f;
}
// Left side filter area styles
.ac-main-filter {
  display: flex;
  flex-direction: column;
  // border: 2px solid #edf2ff;
  background-color: #edf2ff;
  // background-color: #faf1e9;
}
.ac-filter-label {
  margin: 1.8rem 0;
  font-size: 1.8rem;
  color: #cf711f;
  font-weight: 600;
}
.ac-filter-label.ac-first {
  margin-top: 0.4rem;
}

.ac-filter-label-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  color: #333;
  font-size: 1.6rem;
  padding-left: 0rem;
}
.ac-filter-label-item li {
  height: 2.4rem;
  padding-top: 0.4rem;
}
.ac-filter-active {
  background-color: #adc8d4;
  border-radius: 5px 5px 0 0;
}
.ac-main-filter select {
  font-size: 1.6rem;
  color: #333;
}

// Right side area containing search and product list
.ac-main-product {
  display: grid;
}
// Search form style
.ac-search-form {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-bottom: 2.4rem;
}

.ac-search-form-label {
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
  justify-self: flex-start;
}
.ac-search-form-controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.ac-search-form input {
  width: 40%;
  padding: 0.8rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #333;
  border: none;
  // background-color: #edf2ff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(173, 200, 212, 1);
}
.ac-search-form input:focus {
  outline-color: #adc8d4;
}

.ac-search-form input::placeholder {
  color: #aaa;
}
//smilar style as nav-cta , ac below stand for angular client

// Button area
.ac-btn,
.ac-btn-small,
.ac-btn-small-blue,
.ac-btn-small-orange,
.ac-btn-small-blue-outline,
.ac-btn-small-green-outline,
.ac-btn-small-orange-outline {
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.ac-btn,
.ac-btn-small {
  font-size: 1.8rem;
  color: #333;
  background-color: #fff;
  border: 2px solid #adc8d4;
}
.ac-btn {
  padding: 0.8rem 2.6rem;
}
.ac-btn-small {
  padding: 0.5rem 1.2rem;
}
.ac-btn:hover,
.ac-btn-small:hover {
  background-color: #cf711f;
  color: #fff;
}
.ac-btn-small-blue,
.ac-btn-small-orange,
.ac-btn-small-orange-outline,
.ac-btn-small-green-outline,
.ac-btn-small-blue-outline {
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
}
.ac-btn-small-blue {
  color: #fff;
  background-color: #0000ff;
  border: 2px solid #0000ff;
}
.ac-btn-small-blue:hover {
  background-color: #4d4dff;
}
.ac-btn-small-blue-outline {
  color: #0000ff;
  background-color: #fff;
  border: 2px solid #0000ff;
}
.ac-btn-small-blue-outline:hover {
  background-color: #0000ff;
  color: #fff;
}
.ac-btn-small-green-outline {
  color: #009900;
  background-color: #fff;
  border: 2px solid #009900;
}
.ac-btn-small-green-outline:hover {
  background-color: #009900;
  color: #fff;
}
.ac-btn-small-orange {
  color: #fff;
  background-color: #cf711f;
  border: 2px solid #cf711f;
}
.ac-btn-small-orange:hover {
  background-color: #d98d4c;
}
.ac-btn-small-orange-outline {
  color: #cf711f;
  background-color: #fff;
  border: 2px solid #cf711f;
}
.ac-btn-small-orange-outline:hover {
  background-color: #cf711f;
  color: #fff;
}

// green outline disabled
.ac-btn-small-green-outline.ac-btn-disabled {
  border: 2px solid #80ff80;
  color: #80ff80;
  cursor: auto;
}
.ac-btn-small-green-outline.ac-btn-disabled:hover {
  background-color: #fff;
  border: 2px solid #80ff80;
  color: #80ff80;
  cursor: auto;
}

// blue out line disabled style
.ac-btn-small-blue-outline.ac-btn-disabled {
  border: 2px solid #9999ff;
  color: #9999ff;
  cursor: auto;
}
.ac-btn-small-blue-outline.ac-btn-disabled:hover {
  background-color: #fff;
  border: 2px solid #9999ff;
  color: #9999ff;
  cursor: auto;
}
// end of button area

.ac-cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.ac-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  // background-color: #adc8d4;
}

// Product Card style
.ac-card {
  box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.ac-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.4rem 1.4rem rgba(0, 0, 0, 0.2);
}

.ac-lnk-btn-small:link,
.ac-lnk-btn-small:visited {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  border: 2px solid #adc8d4;
  transition: all 0.3s;
  margin-right: 1rem;
}
.ac-lnk-btn-small:hover,
.ac-lnk-btn-small:active {
  background-color: #cf711f;
  color: #fff;
}
